{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <title>Sign In</title>
</head>

<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    SignIn
                </div>
                <div class="line"></div>

                <div style="text-align: center; color: red">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="field">
                    <b>Username</b>
                    <input class="inp" type="text" name="username" required placeholder="Enter Your Username">
                </div>
                
                <div class="field">
                    <b>Password</b>
                    <input class="inp" type="password" name="password" required placeholder="Enter Password">
                </div>
                
                <div class="field">
                    <input class="submit-button" type="submit" value="SignIn">
                </div>

                <div class="line"></div>

                <div class="field account-text">
                    <b>Don't have an Account?</b>
                    <a class="anc" href="{% url 'signup' %}">Signup</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
