{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" />
    <script src="https://kit.fontawesome.com/cb792c0850.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Hello, {{ user }}</h2>
        </div>

        <div class="todo-app">
            <div class="heads">
                <div class="user-icon" title=""><i class="fa-solid fa-user"></i></div>
                <div class="heading">Get Things Done</div>
                <div class="logout-icon">
                    <a href="{% url 'signout' %}" class="sign"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </div>

            <form method="post" class="todo-form">
                {% csrf_token %}
                <input type="text" name="title" required class="todo-input" placeholder="Add Your Task">
                <input class="submit-button" type="submit" value="Add Task">
            </form>

            <div class="todo-list">
                {% for todo in todos %}
                <div class="Todo {% if todo.status %}todo-green{% else %}todo-green{% endif %}">
                    <p>( {{ forloop.counter }} )</p>
                    <p>{{ todo.title }}</p>
                    <div class="actions">
                        <a href="/update/{{todo.srno}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/delete/{{todo.srno}}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
