body {
    margin: 0;
    padding: 0;

}

.signup-login {

    background-color: #0f1f37;
    width: 100%;
    height: 600px;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.signup-box {
    background-color: #ffffff30;
    height: 450px;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

}

.heading {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 25px;


}

b {
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.inp {
    /* margin-top: 10px; */
    margin: 10px;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 15x;
    font-weight: 400;
    color: #ffffff;
    background-color: #ffffff30;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.inp::placeholder {
    color: #ffffffa5;

}

.submit-button {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 70px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background-color: #252525;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ffff00bc;
    color: #fff;
}

.line {

    margin-top: 10px;
    margin-left: 47px;
    margin-bottom: 10px;
    height: 1px;
    width: 400px;
    border: none;
    background-color: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;

}

.anc {
    text-decoration: none;
    color: #ffff00bc;
    font-size: 20px;
    font-weight: 400;
    margin-left: 45%;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.signup-box1 {
    background-color: #ffffff30;
    height: 500px;
    width: 500px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* .sign{
    text-decoration: none;
    padding: 10px;
  } */

.anca {
    font-size: 20px;
    margin-top: 7px;
    /* margin-left: -68px; */
    margin-right: -41px;
}

a:hover {
    color: #ffff00bc;
}

.heads {
    display: flex;
    justify-content: space-evenly;
}

.ancaa {
    font-size: 20px;
    margin-top: 15px;
    margin-left: -40px;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
}